# Performing preprocessing on our datasets:

In [1]:
#importing files which contain functions for loading dataset and preprocessing:
from data_loading_function import load_data
import preprocessing_functions
import pickling_functions

In [2]:
#Loading datasets from function we defined in data_loading_function file:
base_path = "/Users/vkadava/Desktop/PROJECT3/snli_1.0/"
train = load_data(base_path,'snli_1.0_train','jsonl')
dev = load_data(base_path,'snli_1.0_dev','jsonl')
test =load_data(base_path,'snli_1.0_test','jsonl')

In [3]:

train = preprocessing_functions.pre_process(train)
train

,sentence1,sentence2,gold_label,integer_label
0,person horse jump broken airplane,person training horse competition,neutral,2
1,person horse jump broken airplane,person diner ordering omelette,contradiction,0
2,person horse jump broken airplane,person outdoors horse,entailment,1
3,child smiling waving camera,smiling parent,neutral,2
4,child smiling waving camera,child present,entailment,1
...,...,...,...,...
550147,four dirty barefooted child,four kid award 'cleanest foot,contradiction,0
550148,four dirty barefooted child,four homeless child shoe stolen foot dirty,neutral,2
550149,man surfing bodysuit beautiful blue water,man bodysuit competing surfing competition,neutral,2
550150,man surfing bodysuit beautiful blue water,man business suit heading board meeting,contradiction,0
550151,man surfing bodysuit beautiful blue water,beautiful blue water man bodysuit surfing,entailment,1

In [4]:
dev = preprocessing_functions.pre_process(dev)
dev

,sentence1,sentence2,gold_label,integer_label
0,two woman embracing holding go package,sister hugging goodbye holding go package eati...,neutral,2
1,two woman embracing holding go package,two woman holding package,entailment,1
2,two woman embracing holding go package,men fighting outside deli,contradiction,0
3,two young child blue jersey one number 9 one n...,two kid numbered jersey wash hand,entailment,1
4,two young child blue jersey one number 9 one n...,two kid ballgame wash hand,neutral,2
...,...,...,...,...
9994,small girl wearing pink jacket riding carousel,carousel moving,entailment,1
9996,small girl wearing pink jacket riding carousel,girl moving speed light,contradiction,0
9997,young girl blue pink ribbon braid without top ...,people water fountain,entailment,1
9998,young girl blue pink ribbon braid without top ...,young girl knit sweater,contradiction,0
9999,young girl blue pink ribbon braid without top ...,young mother try grab topless child water fout...,neutral,2

In [5]:
test = preprocessing_functions.pre_process(test)
test

,sentence1,sentence2,gold_label,integer_label
0,church choir sings mass sing joyous song book ...,church crack ceiling,neutral,2
1,church choir sings mass sing joyous song book ...,church filled song,entailment,1
2,church choir sings mass sing joyous song book ...,choir singing baseball game,contradiction,0
3,woman green headscarf blue shirt big grin,woman young,neutral,2
4,woman green headscarf blue shirt big grin,woman happy,entailment,1
...,...,...,...,...
9995,two woman observing something together,two woman standing eye closed,contradiction,0
9996,two woman observing something together,two girl looking something,entailment,1
9997,man black leather jacket book hand speaks clas...,man flying kite,contradiction,0
9998,man black leather jacket book hand speaks clas...,man speaking classroom,entailment,1
9999,man black leather jacket book hand speaks clas...,man teaching science classroom,neutral,2

In [6]:
# saving preprocessed data to a pickle file destinations
pickling_functions.dump_pickle(train,'train_data')
pickling_functions.dump_pickle(dev,'dev_data')
pickling_functions.dump_pickle(test,'test_data')